.page-wrap {
    width: 100%;
    float: right;
}


#homepage-copy {
    font-family: Galaxie;

    color: #000000;
    padding: 0 24px;
    max-width: 968px;
    margin: 0 auto;


}
#homepage-copy p {
    text-align: justify;

}

@media only screen and (min-width: 768px) {
    #homepage-copy {
        padding: 60px 48px;
    }
}